In [12]:
import pandas as pd
import numpy as np

In [7]:
# Approach 1 List
carLoans = [[1,34689.96,687.23,202.93,484.3,34205.66,60,0.0702,'Toyota Sienna'],
           [2,34205.66,687.23,200.1,487.13,33718.53,60,0.0702,'Toyota Sienna'],
           [3,33718.53,687.23,197.25,489.98,33228.55,60,0.0702,'Toyota Sienna'],
           [4,33228.55,687.23,194.38,492.85,32735.7,60,0.0702,'Toyota Sienna'],
           [5,32735.7,687.23,191.5,495.73,32239.97,60,0.0702,'Toyota Sienna']]

colNames = ['Month',
            'Starting Balance',
            'Repayment',
            'Interest Paid',
            'Principal Paid',
            'New Balance',
            'term',
            'interest_rate',
            'car_type']

In [8]:
df = pd.DataFrame(data = carLoans, columns=colNames)

In [9]:
df

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,term,interest_rate,car_type
0,1,34689.96,687.23,202.93,484.30,34205.66,60,0.0702,Toyota Sienna
1,2,34205.66,687.23,200.10,487.13,33718.53,60,0.0702,Toyota Sienna
2,3,33718.53,687.23,197.25,489.98,33228.55,60,0.0702,Toyota Sienna
3,4,33228.55,687.23,194.38,492.85,32735.70,60,0.0702,Toyota Sienna
4,5,32735.70,687.23,191.50,495.73,32239.97,60,0.0702,Toyota Sienna

In [13]:
# Approach 2 NumPy Array
carLoans = np.array([
           [1,34689.96,687.23,202.93,484.3,34205.66,60,0.0702,'Toyota Sienna'],
           [2,34205.66,687.23,200.1,487.13,33718.53,60,0.0702,'Toyota Sienna'],
           [3,33718.53,687.23,197.25,489.98,33228.55,60,0.0702,'Toyota Sienna'],
           [4,33228.55,687.23,194.38,492.85,32735.7,60,0.0702,'Toyota Sienna'],
           [5,32735.7,687.23,191.5,495.73,32239.97,60,0.0702,'Toyota Sienna']
           ])

colNames = ['Month',
            'Starting Balance',
            'Repayment',
            'Interest Paid',
            'Principal Paid',
            'New Balance',
            'term',
            'interest_rate',
            'car_type']

In [14]:
df = pd.DataFrame(data = carLoans, columns=colNames)

In [15]:
df

,Month,Starting Balance,Repayment,Interest Paid,Principal Paid,New Balance,term,interest_rate,car_type
0,1,34689.96,687.23,202.93,484.3,34205.66,60,0.0702,Toyota Sienna
1,2,34205.66,687.23,200.1,487.13,33718.53,60,0.0702,Toyota Sienna
2,3,33718.53,687.23,197.25,489.98,33228.55,60,0.0702,Toyota Sienna
3,4,33228.55,687.23,194.38,492.85,32735.7,60,0.0702,Toyota Sienna
4,5,32735.7,687.23,191.5,495.73,32239.97,60,0.0702,Toyota Sienna

In [19]:
# Load car loan data from a csv file
filename = '/data/car_financing.csv'
df = pd.read_csv(filename)

FileNotFoundError: [Errno 2] No such file or directory: '/data/car_financing.csv'